.container-social-media {
  padding-top: 4em;
  width: 100%;
  z-index: 2;
  padding-bottom: 4em;
}

.social-media-ul {
  position: relative;
  margin: auto;
  padding: 0;
  display: flex;
  z-index: 5;
  justify-content: center;
}

.social-media-ul li {
  list-style: none;
}

.social-media-ul li a {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  color: #404040;
  margin: 0 30px;
  transition: 0.1s;
  color: #4b4b4b;
}

.social-media-ul li a span {
  position: absolute;
  transition: transform 0.5s;
}

.social-media-ul li a span:nth-child(1),
.social-media-ul li a span:nth-child(3) {
  width: 100%;
  height: 3px;
  background: #404040;
}

.social-media-ul li a span:nth-child(1) {
  top: 0;
  left: 0;
  transform-origin: right;
}

.social-media-ul li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.social-media-ul li a span:nth-child(3) {
  bottom: 0;
  left: 0;
  transform-origin: left;
}

.social-media-ul li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.social-media-ul li a span:nth-child(2),
.social-media-ul li a span:nth-child(4) {
  width: 3px;
  height: 100%;
  background: #404040;
}

.social-media-ul li a span:nth-child(2) {
  top: 0;
  left: 0;
  transform: scale(0);
  transform-origin: bottom;
}

.social-media-ul li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition: transform 0.5s;
}

.social-media-ul li a span:nth-child(4) {
  top: 0;
  right: 0;
  transform: scale(0);
  transform-origin: top;
}

.social-media-ul li a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

.social-media-ul .instagram:hover {
  color: #c32aa3;
}

.social-media-ul .instagram:hover span {
  background: #c32aa3;
}

.social-media-ul .google:hover {
  color: #dd4b39;
}

.social-media-ul .google:hover span {
  background: #dd4b39;
}

.social-media-ul li a:hover:nth-child(3) {
  color: #c32aa3;
}

.social-media-ul li a:hover:nth-child(4) {
  color: #dd4b39;
}
